li {
  display: inline;
  margin-right: 10px;
}

nav {
  width: 100%;
  top: 0;
  position: fixed;
  padding-top: 10px;
  background-color: #F1F1F1;
}

a {
  text-decoration: none;
  color: #000;
}

nav a {
  border-bottom-color: #000;
  border-bottom-style: solid;
  border-bottom-width: 1px;
  padding-top: 10px;
  font-size: large;
  font-family: 'Cousine', monospace;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #F1F1F1;
  font-family: 'Montserrat', sans-serif;
  width: 90%;
  margin: auto;
}

h1 {
  line-height: 200%;
}

#intro {
  height: 400px;
  margin-top: 250px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 250px;
}

#code-sample-link {
  float: right;
  width: 50%;
  display: inline;
  text-align: center;
  margin-top: 20px;
  font-family: 'Cousine',monospace;
  font-weight: 700;
  font-size: large;
}

#personal-photo {
  border-radius: 50%;
  width: 20%;
  display: block;
  margin: auto;
}

.images-container {
  margin-bottom: 20px;
  text-align: center;
}

.iphone-screenshot {
  width: 20%;
  margin-right: auto;
  margin-left: auto;
}

.desktop-screenshot {
  width: 90%;
  margin-right: auto;
  margin-left: auto;
}

#excel-breakboard {
  max-width: 1135px;
  border-radius: 20px;
}

.project {
  margin-top: 250px;
  margin-bottom: 250px;
}

.clear {
  clear: both;
}

.project-name {
  display: inline;
  float: left;
  text-align: left;
  width: 50%;
}

.social-app {
  margin-top: 50px;
  margin-bottom: 30px;
  width: 10%;
  min-width: 20px;
}

.project-description {
  float: right;
  width: 50%;
  min-width: 200px;
  font-family: 'Cousine', monospace;
  font-size: small;
}

.separator {
  width: 40%;
  height: 1px;
  background-color: #000000;
}

#email-me {
  float: left;
}

#copyright {
  text-align: center;
  width: 100%;
}

#app-support {
  float: right;
}

#footnote {
  width: 100%;
  font-family: 'Cousine', monospace;
  font-weight: 700;
}

footer {
  height: 100px;
}

.bottom-link {
  margin-bottom: 10px;
}
